!!! XML
!!!
%html
  %head
    %title #{html title}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/reset.css"}
    %link{:rel => "stylesheet", :type => "text/css", :href => "/css/app.css"}
    %script{:src => "/js/jquery-1.4.2.js", :type => "text/javascript"}
  %body
    =yield
