%h1 #{html title}

%form{:action => '/new', :method => 'post'}
  %div
    %label{:for => 'name'} Name:
  %div
    %input{:type => "text", :name => 'name', :value =>"#{html name}"}
  %div
    %label{:for => 'parent'} Parent:
  %div
    %input{:type => "text", :name => 'parent'}
  %div
    %label{:for => 'text'} Text:
  %div
    %textarea{:name => 'text', :cols => '70', :rows => '20'}
      bla bla bla
  %div
    %input{:type => "submit", :value => "Create"}
